/* static/styles.css */
input[type="file"] {
    display: none;
}

#schematic-mainscreen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#schematic-navbar {
    height: 5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#schematic-content {
    width: 100%;
    height: calc(100% - 5em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#schematic-white-rectangle {
    width: calc(100vw - 300px);
    height: calc((100vw - 300px) * 279 / 432);
    max-width: calc((100vh - 5em) * 432 / 279);
    background-color: rgb(255, 255, 255);
    border: none;
    position: relative;

}

#schematic-boarder {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    bottom: 4%;
}

#schematic-screen {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85%;
}

#schematic-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 2pt;
}

#schematic-elevations {
    width: 3em;
    height: 100%;
    position: relative;
}

#schematic-elevations  p {
    padding-left: 0.5em;
}

#schematic-main-window {
    width: calc(100% - 3em);
    height: 100%;
    position: relative;
}

#schematic-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 2pt;
}

#schematic-left-titleblock {
    width: 45%;
    height: 100%;
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 2pt;
}

#schematic-right-titleblock {
    width: 45%;
    height: 100%;
}

.schematic-nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 93, 170);
    width: auto;
    height: 70%;
    margin: 1em;
    color: white;
    text-decoration: none;
    border: solid;
    border-color: black;
    border-radius: 4px;
    border-width: 1pt;
    cursor: pointer;
    transition: background-color 0.3s;
}

.schematic-nav-btn:hover {
    background-color: rgb(1, 53, 121);
}

.schematic-nav-border {
    width: calc(100% - 4pt);
    height: auto;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2pt;
    border-color: black;
}

.schematic-nav-row {
    display: flex;
    flex-direction: row;
    width: 10em;
    height: auto;
    align-items: center;
    justify-content: center;
    color: white;
}

.schematic-num-inp {
    width: 3em;
    height: 2em;
    margin: 1em;
}

.schematic-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.schematic-title-text {
    text-align: center;
    font-family: Arial;
    font-size: 18pt;
    width: 98%;
    border: none;
    margin: 0.1em 0 0.1em 0;
}

.schematic-zone {
    font-size: 8pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(107, 107, 107);
    min-height: 2em;
    border-color: black;
    border-style: solid;
    border-width: 1pt;
}

.schematic-group-zone {
    font-size: 8pt;
    position: absolute;
    background-color: rgb(107, 107, 107);
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: black;
}

.schematic-tank-top {
    width: 2em;
    height: 1em;
    position: absolute;
    background-color: #656262;
    border-radius: 50%;
    border-width: 2pt;
    border-style: solid;
    border-color: black;
    margin-top: -0.75em;
}

.schematic-tank-bottom {
    width: 2em;
    height: 1.25em;
    position: absolute;
    background-color: #656262;
    border-radius: 0 0 50% 50%;
    border-width: 0 2pt 2pt 2pt;
    border-style: solid;
    border-color: black;
}

.schematic-pump-top {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    background-color: #777777;
    border-radius: 50%;
}

.schematic-pump-bottom {
    width: 1.2em;
    height: 0.8em;
    position: absolute;
    background-color: #777777;
    margin-left: -0.5em;
}

.schematic-valve-top {
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent; 
    border-right: 0.5em solid transparent; 
    border-bottom: 1em solid rgb(26, 26, 26);
}

.schematic-valve-bottom {
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent; 
    border-right: 0.5em solid transparent; 
    border-top: 1em solid rgb(26, 26, 26);
    margin-bottom: -0.6em;
}