html, body {
    background-color: #3402fa;
    background-image: url('../images/water.jpg');
}

b {
    color: white;
    padding: 10px;
}

label {
    color: white;
}

#main-div {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#nav-bar {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 15%;
    display: flex;
    flex-direction: column;
    background-color: #000fa0;
}

#mainscreen-div {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#linear-interp {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 100px;
    border-style: solid;
    padding:10px;
    border-color: white;
}

#linear-interp input {
    width: 50px;
}

#linear-interp label {
    padding: 10px;
    color: white;
}

#linear-interp b {
    color: white;
    padding: 10px;
}

.nav-item {
    overflow-x: scroll;
}

.nav-item:hover {
    background-color: #3402fa;
}

#normal-critical-depth {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    border-style: solid;
    padding:10px;
    border-color: white;
    background-color: rgba(0, 15, 160, 0.4);
}

#normal-critical-depth input {
    width: 50px;
    float: right;
    margin: 2px;
}

#normal-critical-depth select {
    width: 100px;
    float: right;
    margin: 2px;
}

#normal-critical-depth label {
    margin: 2px;
}

#nc-result-div p {
    color: white;
    margin: 2px 5px 2px 20px;
}