span {
    color: black;
}

#interface-mainscreen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#interface-navbar {
    height: 2.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#map {
    height: calc(100% - 2.5em);
    width: 100%;
    display: flex;
    flex-direction: column;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  #popup h3 {
    margin-top: 0;
    text-align: center;
  }

  #popup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  #popup input {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  #popup button {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #popup button:hover {
    background-color: #0056b3;
  }

  #message-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  #message-window h3 {
    margin-top: 0;
    text-align: center;
  }

  #message-window button {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #message-window button:hover {
    background-color: #0056b3;
  }